.mainscreen {
  background-color: #283128;

  .main {
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;

    .main_photo {
      position: relative;
      height: 760px;
      margin-bottom: -1px;
      z-index: 1;
      width: 709px;
      background-image: url("../public/Hero.jpg");
      background-size: cover;
    }
    .main_photo2 {
      display: none;
    }
    .main_text {
      align-self: center;
      width: 50%;
      color: #f4f1e6;
      padding-left: 80px;

      .main_text_all {
        max-width: 480px;
        p {
          max-width: 480px;
        }

        .main_text_buttons {
          display: flex;
          flex-direction: column;

          .link {
            margin-left: 24px;
          }
        }
        .header1 {
          font-size: 51px !important;
          line-height: 107.44%;
          margin-bottom: 57px;
          margin-top: 0;
        }
        p {
          padding-bottom: 14px;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .mainscreen {
    .main {
      padding-left: 0;
      flex-direction: column;
      .mainscreen_svg {
        display: none;
      }
      .main_text {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
        margin-left: 65px;
        .main_text_all {
          .header1 {
            margin-bottom: 7px;
            padding-top: 120px;
          }
          .main_text_buttons {
            .link {
              margin-left: 0;
              margin-top: 20px;
              margin-left: 20px;
            }
          }
        }
      }
      .main_photo {
        display: none;
      }
      .main_photo2 {
        display: block;
        align-self: center;
      }
    }
  }
}
@media (max-width: 500px) {
  .mainscreen {
    .main {
      .main_text {
        margin-left: 0px;
        .header1 {
          max-width: 300px;
        }
      }
    }
  }
}
