.navbar {
  position: absolute;
  z-index: 3;
  height: 104px;
  display: flex;
  align-items: center;
  right: 60px;
  color: #f4f1e6;

  .menu {
    .servbut {
      &:hover {
        .navigul {
          color: #283128;
          width: 197px;
          display: block;
          opacity: 0;
          animation: show 0.8s 1;
          animation-fill-mode: forwards;
          transition: 1s;
          background: #f4f1e6;
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          position: absolute;
          z-index: 10;
          display: flex;
          flex-direction: row;
          top: 61px;
          left: 0px;
          padding-top: 30px;
          .navserv1 {
            padding-left: 27px;
            padding-bottom: 27px;

            li {
              transition: ease 0.4s;
              font-size: 13px;
              font-weight: 400;
              line-height: 15px;
              letter-spacing: 0.15em;

              &:hover {
                color: #b04f18;
                transition: ease 0.4s;
              }
            }
          }
          .navserv2 {
            padding-right: 27px;
            padding-bottom: 27px;
          }

          Link {
            font-size: 14px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
          }
          h3 {
            font-size: 12px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0.08em;
            text-align: left;
          }
        }
      }
    }
    .workon {
      &:hover {
        .navigulrates {
          display: block;
          opacity: 0;
          width: 197px;
          background: #f4f1e6;
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          position: absolute;
          z-index: 10;
          top: 61px;
          left: 130px;
          animation: show 1.2s 1;
          animation-fill-mode: forwards;
          animation-delay: 0.1s;
          transition: 1s;
          @keyframes show {
            0% {
              opacity: 0;
            }

            100% {
              opacity: 1;
            }
          }
          .navrates {
            padding: 16px 31px 16px 27px;
            li {
              font-size: 13px;
              font-weight: 400;
              line-height: 15px;
              letter-spacing: 0.15em;
              line-height: 34px;
              letter-spacing: 0em;
              text-align: left;
              transition: ease 0.4s;
              &:hover {
                color: #b04f18;
                transition: ease 0.4s;
              }
            }
          }
        }
      }
    }
    .orange {
      color: #f4f1e6;
      transition: ease-in-out 0.4s;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0.15em;
      cursor: pointer;
      &:hover {
        color: #e1621b;
        transition: ease-in-out 0.4s;
      }
      transition: ease-in-out 0.4s;
      &:active {
        color: #e1621b;
        transition: ease-in-out 0.4s;
      }
    }

    .navigulrates {
      display: none;
      color: #283128;
      animation: showdown 1.2s 1;
      animation-fill-mode: forwards;
      animation-delay: 0.1s;

      Link {
        transition: ease-in-out 0.4s;

        text-align: left;

        &:hover {
          color: #e1621b;
          transition: ease-in-out 0.4s;
        }
      }
    }

    .navigul {
      display: none;

      Link {
        transition: ease-in-out 0.2s;
        &:hover {
          color: #e1621b;
          transition: ease-in-out 0.2s;
        }
      }
    }
  }
}
@keyframes showdown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .navbar {
    height: 78px;
    .menu {
      display: none;
    }
  }
}
